#Hidden System Files
.DS_Store
*.swp

#Files Created At Runtime
*.log
*.lock
*.tmp

# Prerequisites
*.d

# Compiled Object Files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran Module Files
*.mod
*.smod

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
